<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>

  <body>
    <% if (locals.currentUser) { %>
      <h1>WELCOME BACK <%= currentUser.username %></h1>
      <a href="<%= locals.baseLink ?? "/folders/new" %>">
        New Folder
      </a>
      <%- include("partials/upload") %>
      <ul>
        <% folders.forEach((file) => { %>
          <%- include("files/file", { file, type: "folders" }) %>
        <% }) %>
        <% files.forEach((file) => { %>
          <%- include("files/file", { file, type: "files" }) %>
        <% }) %>
      </ul> 
      <a href="/log-out">LOG OUT</a>
    <% } else { %>
      <a href="/log-in">LOG IN</a>
      <a href="/sign-up">SIGN UP</a>
    <% } %>
  </body>
</html>
