<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/output.css">
    <title>Home</title>
  </head>

  <body>
    <% if (locals.currentUser) { %>
      <%- include("header") %>
      <main class="container py-8 space-y-4">
        <%- include("partials/breadcrumbs", { breadcrumbs }) %>
        <div class="bg-foreground px-4 py-5 rounded-lg flex items-center gap-4">
          <a
            class="flex items-center gap-2 rounded-lg text-primary font-bold py-2 px-4 bg-primary/30" 
            href="<%= locals.baseLink ? `${baseLink}/children` : "/folders/new" %>"
          >
            <%- newFolderIcon %> 
            <span>New Folder</span>
          </a>
          <% if (locals.baseLink) { %>
            <form
              class="flex place-items-center"
              action="<%= baseLink %>/delete"
              method="POST"
            >
              <button type="submit"><%- deleteIcon %></button>
            </form>

            <a href="<%= baseLink %>/rename">
              <%- renameIcon %>
            </a>
          <% } %>
        </div>
        <%- include("partials/upload") %>
        <%- include("files/file-table", { files }) %>
      </main>
    <% } %>
  </body>
</html>
