<li>
  <a href="/<%= type %>/<%= file.id %>">
    <%= file.name %>
    <%= file.dateModified %>
    <%= file.size %>
    
    <a 
      href="/<%= type %>/<%= file.id %><%= type === "folders"
      ? "/details"
      : "" %>"
    >
      Details
    </a>
   
    <a
      href="/<%= type %>/<%= file.id %>/rename"
    >
      Rename
    </a>
    
    <% if (type === "files") { %> 
      <form
        action="/<%= type %>/<%= file.id %>/download"
        method="GET"
      >
        <button type="submit">Download</button>
      </form>
    <% } %> 

    <form
      action="/<%= type %>/<%= file.id %>/delete"
      method="POST"
    >
      <button type="submit">Delete</button>
    </form>
  </a>
</li>