<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= file.name %></title>
  </head>

  <body>
    <h1><%= file.name %></h1>
    <a href="/<%= type %>/<%= file.id %>/rename">Rename</a>

    <% if (type === "files") { %>
      <a 
        href="/<%= type %>/<%= file.id  %>/download"
      >
        Download
      </a>
    <% } %>

    <p>Type <%= file?.mimeType ?? "Folder" %></p>

    <% if (type === "files") { %>
      <p>Size <%= file.size %></p>
    <% } %>
    
    <p>Location <%= file.folder?.name ?? "My Drive" %></p>
    <p>Modified <%= file.modifiedAt %></p>
    <p>Created <%= file.createdAt %></p>
  </body>
</html>