<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/output.css">
    <title><%= file.name %></title>
  </head>

  <body>
    <main class="py-6 min-h-dvh container content-center">
      <div class="mx-auto max-w-md bg-foreground p-6 rounded-lg shadow-sm space-y-5">
        <div class="flex justify-between items-center">
          <div class="bg-primary/20 rounded-lg p-2"><%- file.icon %></div>
          <a class="text-paragraph" href="<%= backHref %>"><%- xIcon %></a>
        </div>
        <h1 class="text-white font-bold text-xl"><%= file.name %></h1>
        <div class="flex flex-col gap-5">
          <a
            class="bg-primary text-white font-bold rounded-lg py-2.5 flex gap-3 justify-center items-center"
            href="/<%= type %>/<%= file.id %>/rename"
          >
            <%- renameIcon %>
            Rename
          </a>
          <% if (type === "files") { %>
            <a 
              class="bg-primary text-white font-bold rounded-lg py-2.5 flex gap-3 justify-center items-center"
              href="/<%= type %>/<%= file.id  %>/download"
            >
              <%- downloadIcon %>
              Download
            </a>
          <% } %>
        </div>
        <div class="flex flex-col gap-5">
          <form
            action="/<%= type %>/<%= file.id %>/delete"
            method="POST"
          >
            <button class="w-full text-red-500 font-bold rounded-lg py-2.5 bg-foreground hover:bg-background-dark/50 transition-colors" type="submit">Delete</button>
          </form>
        </div>
        <hr class="border-gray-700 border-t-2" />
        <div class="*:flex space-y-1.5">
          <p>
            Type <span class="text-white ml-auto"><%= file?.mimeType ?? "Folder" %></span>
          </p>

          <% if (type === "files") { %>
            <p>Size <span class="text-white ml-auto"><%= file.size %></span></p>
          <% } %>
          
          <p>Location <span class="text-white ml-auto"><%= file.folder?.name ?? "My Drive" %></span></p>
          <p>Modified <span class="text-white ml-auto"><%= file.modifiedAt %></span></p>
          <p>Created <span class="text-white ml-auto"><%= file.createdAt %></span></p>
        </div>
      </div>
    </main>
  </body>
</html>