<li>
  <%= file.name %>
  <%= file.dateModified %>
  <%= file.size %>
  
  <a
    href="/<%= type %>/<%= file.id %>/rename"
  >
    Rename
  </a>

  <form
    action="/<%= type %>/<%= file.id %>/delete"
    method="POST"
  >
    <button type="submit">Delete</button>
  </form>
</li>